/* ---General parameters--- */
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Punarbhaba";
  src: url("/fonts/Punarbhaba_27-02-2006.ttf") format("ttf");
}

// VARIABLES
// Main colors
$my-primary: #3a4712;
$my-secondary: #698020;
$my-test: #b31717;

// Section colors
$bg-about: #f1f1f1;
$bg-prestations: #d4dabe;

// Partials colors
$bg-cards: $my-secondary;
$border-profile: whitesmoke;
$shadow-cards: #c0c0c0;
$bg-form: #d1d8bc;

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 4em !important;
  margin-bottom: 0.5rem !important;
}

h2 {
  font-family: "Punarbhaba", serif;
  color: $my-secondary;
  font-weight: bold;
  font-size: 3em !important;
  margin-bottom: 1rem !important;
}
h3 {
  font-family: "Punarbhaba", serif;
  color: #3a4712;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-bottom: 1rem !important;
}
h4 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}
p {
  font-family: "DM Sans", sans-serif;
}
li {
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 0px) and (max-width: 900px) {
  *section {
    padding: 1rem;
  }
}
@media (min-width: 901px) and (max-width: 5000px) {
  *section {
    padding: 6rem;
  }
}

/* ---navBar--- */

nav {
  background-color: #ffffff;
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 0.5px #3a4712 solid;

  #navbarNav {
    margin-right: 4%;
    ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  #nav-logo {
    height: 8vh;
    padding-left: 140px;
    background-image: url("/img/logo/partial-logo-min.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-link {
    color: $my-secondary !important;
    font-weight: bold;
  }
  .nav-link:hover {
    -webkit-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
    color: $my-primary !important;
  }

  .btn {
    background-color: $my-secondary !important;
    font-weight: bold;
    border: none;
    a {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .btn:hover {
    -webkit-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    background-color: $my-primary !important;
    border-color: $my-secondary;
    border: none;
  }

  #btncontact {
    margin-right: 1rem;
    a {
      white-space: nowrap;
    }
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  nav {
    #navbarNav {
      ul {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #navbarNav {
    margin-right: 0% !important;
    ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  #nav-logo {
    height: 9vh;
    padding-left: 0px;
    background-image: url("/img/logo/partial-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #btncontact {
    margin-right: 0rem !important;
    a {
      white-space: nowrap;
    }
  }
}

/* ---Header--- */

header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/others/header-min.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  #header-1 {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    top: 42%;
    left: 5%;
    border-radius: 5px !important;
  }
  .btn-enter {
    background: transparent;
    color: whitesmoke;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    padding: 1em 2.5em;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 5px;
  }
  .btn-enter:hover {
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    text-decoration: none !important;
  }

  #masthead-title P {
    color: whitesmoke;
  }

  #masthead-contact {
    p {
      color: whitesmoke;
      text-decoration: none;
    }
    a {
      color: whitesmoke;
      text-decoration: none;
    }
    .fa-envelope {
      color: whitesmoke;
    }
    .fa-phone {
      color: whitesmoke;
    }
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  #header-1 {
    top: 37% !important;
  }
}

/* ---A propos--- */
#propos {
  #img img {
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 5px 5px 10px #c0c0c0;
    box-shadow: 5px 5px 10px #c0c0c0;
  }
  a {
    color: $my-secondary;
    font-weight: bold;
    text-decoration: none;
  }
}

/* ---Nos prestations--- */

#prestations {
  background-color: $bg-prestations;
  position: relative;
  height: auto;
}
.card {
  background-color: $my-secondary !important;
  border-left: 5px solid $my-primary;
  color: whitesmoke;
  -webkit-box-shadow: 5px 5px 10px #c0c0c0;
  display: block;
  box-shadow: 0 14px 26px $shadow-cards;
  transition: all 0.3s ease-out;

  .card-body {
    position: relative;
  }
  .prestations_img {
    position: absolute;
    top: -50%;
    right: -12%;
    background-image: url("/img/others/tax_credit.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
  }
  .card-title {
    position: relative;
  }
  ul li {
    list-style: url("/img/others/liste_style.svg") !important;
  }
  ul li::marker {
    font-size: 2rem;
  }
}
.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px $shadow-cards;
}
.bold-title {
  color: whitesmoke;
  font-family: Italiana;
  font-weight: bolder;
  font-size: 50px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .prestations_img {
    top: 90% !important;
    right: 0% !important;
    width: 125px !important;
    height: 125px !important;
  }
  #lottie-creation {
    display: none;
  }
  #lottie-services {
    width: 250px !important;
    height: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .prestations_img {
    top: -20% !important;
    right: -30% !important;
    width: 125px !important;
    height: 125px !important;
  }
}
@media (min-width: 993px) and (max-width: 1019px) {
  .prestations_img {
    top: -10% !important;
    right: -30% !important;
    width: 150px !important;
    height: 150px !important;
  }
}
@media (min-width: 1019px) and (max-width: 1231px) {
  .prestations_img {
    top: -20% !important;
    right: -30% !important;
    width: 150px !important;
    height: 150px !important;
  }
}
@media (min-width: 1232px) and (max-width: 1400px) {
  .prestations_img {
    top: -50%;
    right: -30% !important;
  }
}
/* ---Nos realisations--- */
#realisations {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(2.41%, rgba(105, 128, 32, 0.05)),
    color-stop(49.15%, rgba(153, 164, 119, 0.0802335)),
    color-stop(99.95%, rgba(196, 196, 196, 0))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(105, 128, 32, 0.05) 2.41%,
    rgba(153, 164, 119, 0.0802335) 49.15%,
    rgba(196, 196, 196, 0) 99.95%
  );
  background: linear-gradient(
    0deg,
    rgba(105, 128, 32, 0.05) 2.41%,
    rgba(153, 164, 119, 0.0802335) 49.15%,
    rgba(196, 196, 196, 0) 99.95%
  );
  .carousel-item img {
    width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
}
.clippath {
  width: 100%;
  height: 100px;
}
.clippath-top {
  border-radius: 0 0 50% 50%;
  background-color: #f8f9f4;
}
.clippath-bottom {
  border-radius: 50% 50% 0 0;
  background-color: #f4f4f2;
}

/* ---Nos avis--- */
#rating {
  .my-card {
    position: relative;
    background-color: $bg-cards;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px #c0c0c0;
    width: auto;
    height: auto;
    box-shadow: 0 14px 26px $shadow-cards;
    transition: all 0.3s ease-out;
    p {
      font-size: 0.8rem;
      color: whitesmoke;
    }
  }
  .my-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px $shadow-cards !important;
  }
  .profile {
    position: absolute;
    height: 60px;
    width: 60px;
    top: -10%;
    left: 10%;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px $border-profile;
    &-1 {
      background-image: url("/img/others/B.J-min.webp");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-2 {
      background-image: url("/img/others/PM-min.webp");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-3 {
      background-image: url("/img/others/JL-min.webp");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

/* ---Nous contacter--- */
#contact {
  margin-top: 0px !important;
  padding-top: 0px !important;
  border-bottom: 1px solid transparent !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(61, 72, 26, 0.06)),
    to(rgba(255, 255, 255, 0))
  );

  background: -o-linear-gradient(
    top,
    rgba(61, 72, 26, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(61, 72, 26, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  .form-bg {
    background-color: $bg-form;
    width: AUTO;
    border-radius: 5px;
  }
  form {
    select {
      border-radius: 5px;
    }
    input {
      border-radius: 5px;
    }
    textarea {
      border-radius: 5px;
    }
  }
  #btn-submit {
    background-color: $my-secondary !important;
    font-weight: bold;
    border: none;
    color: whitesmoke;
    text-decoration: none;
  }
}
.map-position {
  position: relative;
}
#map {
  -webkit-box-shadow: 5px 5px 10px #c0c0c0;
  box-shadow: 5px 5px 10px #c0c0c0;
  border-radius: 5px;
}
.map-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background: #fff;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 5px;
}
#legend {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 240px;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 15px;
  height: 10px;
  margin-right: 5px;
}

/* ---footer--- */
footer {
  background-color: #d1d8bc;

  .footer-logo img {
    border-radius: 5px !important;
    width: 100%;
  }
  ul li a {
    text-decoration: underline;
    color: $my-secondary !important;
  }
  ul li a:hover {
    color: $my-primary !important;
  }
  i {
    color: #698020;
  }
  .fa-location-dot {
    color: #698020;
  }
  #envelope-footer {
    color: #698020;
  }
  #phone-footer {
    color: #698020;
  }
}
/* ---recruitment--- */
#recruitment-img {
  position: fixed;
  -webkit-position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 100000000000000;
  -webkit-animation: btn-recruitment 1s ease-in-out infinite alternate;
  animation: btn-recruitment 1s ease-in-out infinite alternate;
  display: block;
  width: 250px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 650px) {
  #recruitment-img {
    bottom: 0;
    right: 7%;
    width: 150px;
    height: auto;
  }
}
@-webkit-keyframes btn-recruitment {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes btn-recruitment {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
/* ---1.0--- */
