@charset "UTF-8";
/* ---General parameters--- */
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Punarbhaba";
  src: url("/fonts/Punarbhaba_27-02-2006.ttf") format("ttf");
}
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 4em !important;
  margin-bottom: 1rem !important;
}

h2 {
  font-family: "Punarbhaba", serif;
  color: #698020;
  font-weight: bold;
  font-size: 3em !important;
  margin-bottom: 1rem !important;
}

h3 {
  font-family: "Punarbhaba", serif;
  color: #3a4712;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-bottom: 1rem !important;
}

h4 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}

p {
  font-family: "DM Sans", sans-serif;
}

li {
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 0px) and (max-width: 900px) {
  * section {
    padding: 1rem;
  }
}
@media (min-width: 901px) and (max-width: 5000px) {
  * section {
    padding: 6rem;
  }
}
/* ---navBar--- */
nav {
  background-color: white;
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 0.5px #3a4712 solid;
}
nav #navbarNav {
  margin-right: 4%;
}
nav #navbarNav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav #nav-logo {
  height: 9vh;
  padding-left: 150px;
  background-image: url("/img/logo/partial-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
nav .nav-link {
  color: #698020 !important;
  font-weight: bold;
}
nav .nav-link:hover {
  transition: color 300ms linear;
  color: #3a4712 !important;
}
nav .btn {
  background-color: #698020 !important;
  font-weight: bold;
  border: none;
}
nav .btn a {
  color: white;
  text-decoration: none;
}
nav .btn:hover {
  transition: background-color 300ms linear;
  background-color: #3a4712 !important;
  border-color: #698020;
  border: none;
}
nav #btncontact {
  margin-right: 1rem;
}
nav #btncontact a {
  white-space: nowrap;
}

@media (min-width: 0px) and (max-width: 991px) {
  nav #navbarNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #navbarNav {
    margin-right: 0% !important;
  }
  #navbarNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  #nav-logo {
    height: 9vh;
    padding-left: 0px;
    background-image: url("/img/logo/partial-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  #btncontact {
    margin-right: 0rem !important;
  }
  #btncontact a {
    white-space: nowrap;
  }
}
/* ---Header--- */
header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/others/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header #header-1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  top: 47%;
  left: 5%;
}
header #header-2 {
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 90%;
}
header .btn-enter {
  background: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid white;
  padding: 1em 2.5em;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
}
header .btn-enter:hover {
  transition: background-color 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-decoration: none !important;
}
header #masthead-title P {
  color: white;
}
header #masthead-contact p {
  color: white;
  text-decoration: none;
}
header #masthead-contact a {
  color: white;
  text-decoration: none;
}
header #masthead-contact .fa-envelope {
  color: white;
  margin-right: 10px;
}
header #masthead-contact .fa-phone {
  color: white;
  margin-right: 10px;
}

@media (min-width: 0px) and (max-width: 768px) {
  #header-1 {
    top: 40%;
  }

  #header-2 {
    bottom: 15%;
  }
}
/* ---A propos--- */
#propos #img img {
  background-image: url("/img/jardi_ca.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  box-shadow: 5px 5px 10px #c0c0c0;
}
#propos a {
  color: #698020;
  font-weight: bold;
  text-decoration: none;
}

/* ---Nos prestations--- */
#prestations {
  background-color: #d4dabe;
  position: relative;
  height: auto;
}

.card {
  background-color: #698020 !important;
  border-left: 5px solid #3a4712;
  color: whitesmoke;
  box-shadow: 5px 5px 10px #c0c0c0;
  display: block;
}
.card .card-body {
  position: relative;
}
.card .prestations_img {
  position: absolute;
  top: -50%;
  right: -12%;
  background-image: url("/img/others/tax_credit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
}
.card .card-title {
  position: relative;
}
.card ul li {
  list-style: url("/img/others/liste_style.svg") !important;
}
.card ul li::marker {
  font-size: 2rem;
}

.bold-title {
  color: whitesmoke;
  font-family: Italiana;
  font-weight: bolder;
  font-size: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .prestations_img {
    top: 90% !important;
    right: 0% !important;
    width: 125px !important;
    height: 125px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .prestations_img {
    top: -20% !important;
    right: -30% !important;
    width: 125px !important;
    height: 125px !important;
  }
}
@media (min-width: 993px) and (max-width: 1019px) {
  .prestations_img {
    top: -10% !important;
    right: -30% !important;
    width: 150px !important;
    height: 150px !important;
  }
}
@media (min-width: 1019px) and (max-width: 1231px) {
  .prestations_img {
    top: -20% !important;
    right: -30% !important;
    width: 150px !important;
    height: 150px !important;
  }
}
@media (min-width: 1232px) and (max-width: 1400px) {
  .prestations_img {
    top: -50%;
    right: -30% !important;
  }
}
/* ---Nos realisations--- */
#réalisations {
  background: linear-gradient(0deg, rgba(105, 128, 32, 0.05) 2.41%, rgba(153, 164, 119, 0.0802335) 49.15%, rgba(196, 196, 196, 0) 99.95%);
}

/* ---Nos avis--- */
#rating .my-card {
  position: relative;
  background-color: #698020;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #c0c0c0;
  width: auto;
  height: auto;
}
#rating .my-card p {
  font-size: 0.8rem;
  color: white;
}
#rating .profile {
  position: absolute;
  height: 60px;
  width: 60px;
  top: -10%;
  left: 10%;
  background-size: cover;
  border-radius: 50%;
  border: solid 5px white;
}
#rating .profile-1 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}
#rating .profile-2 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}
#rating .profile-3 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}

/* ---Nous contacter--- */
#contact {
  border-bottom: 1px solid transparent !important;
  border-radius: 50%, 50%, 0%, 0%;
  background: linear-gradient(180deg, rgba(61, 72, 26, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
}
#contact .form-bg {
  background-color: #d1d8bc;
  width: AUTO;
  border-radius: 5px;
}
#contact form select {
  border-radius: 5px;
}
#contact form input {
  border-radius: 5px;
}
#contact form textarea {
  border-radius: 5px;
}

#map {
  box-shadow: 5px 5px 10px #c0c0c0;
}

/* ---footer--- */
footer {
  background-color: #d1d8bc;
}
footer .footer-logo {
  background-image: url("/img/logo/full_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
footer ul li a {
  text-decoration: underline;
  color: #698020 !important;
}
footer i {
  color: #698020;
}
footer .fa-location-dot {
  color: #698020;
}
footer #envelope-footer {
  color: #698020;
}
footer #phone-footer {
  color: #698020;
}

/* ---recruitment--- */
#recruitment-img {
  position: fixed;
  -webkit-position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 100000000000000;
  -webkit-animation: btn-recruitment 1s ease-in-out infinite alternate;
  animation: btn-recruitment 1s ease-in-out infinite alternate;
  display: block;
  width: 250px;
  height: auto;
}

@media (min-width: 0px) and (max-width: 650px) {
  #recruitment-img {
    bottom: 0;
    right: 7%;
    width: 150px;
    height: auto;
  }
}
@keyframes btn-recruitment {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/*# sourceMappingURL=style.css.map */
