@charset "UTF-8";
/* ---General parameters--- */
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Punarbhaba";
  src: url("/fonts/Punarbhaba_27-02-2006.ttf") format("ttf");
}
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 60px;
}

h2 {
  font-family: "Punarbhaba", serif;
  color: #698020;
  font-weight: bold;
  margin-bottom: 3rem !important;
}

h3 {
  font-family: "Punarbhaba", serif;
  color: #3a4712;
  font-size: x-large;
  font-weight: bold;
}

h4 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
}

h5 {
  font-family: "Punarbhaba", serif;
  color: #3a4712;
}

p {
  font-family: "DM Sans", sans-serif;
}

li {
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 0px) and (max-width: 900px) {
  section {
    padding: 0.5rem;
  }
}
@media (min-width: 901px) and (max-width: 5000px) {
  section {
    padding: 6rem;
  }
}
/* ---navBar--- */
nav {
  background-color: white;
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 0.5px #3a4712 solid;
}

#navbarNav {
  margin-right: 4%;
}
#navbarNav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-logo {
  height: 8vh;
  padding-left: 150px;
  background-image: url("/img/logo/partial-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link {
  color: #698020 !important;
  font-weight: bold;
}

.nav-link:hover {
  transition: color 300ms linear;
  color: #3a4712 !important;
}

.btn {
  background-color: #698020 !important;
  font-weight: bold;
  border: none;
}
.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  transition: background-color 300ms linear;
  background-color: #3a4712 !important;
  border-color: #698020;
  border: none;
}

#btncontact {
  margin-right: 1rem;
}
#btncontact a {
  white-space: nowrap;
}

/* ---Header--- */
header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/others/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header-1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  top: 47%;
  left: 5%;
}

#header-2 {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

@media (min-width: 0px) and (max-width: 768px) {
  #header-1 {
    top: 40%;
  }

  #header-2 {
    bottom: 15%;
  }
}
.btn-enter {
  background: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid white;
  padding: 1em 2.5em;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
}

.btn-enter:hover {
  transition: background-color 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-decoration: none !important;
}

#masthead-title P {
  color: white;
}

#masthead-contact p {
  color: white;
  text-decoration: none;
}
#masthead-contact a {
  color: white;
  text-decoration: none;
}
#masthead-contact .fa-envelope {
  color: white;
  margin-right: 10px;
}
#masthead-contact .fa-phone {
  color: white;
  margin-right: 10px;
}

/* ---A propos--- */
#propos {
  background-color: #f1f1f1;
}

#img img {
  background-image: url("/img/jardi_ca.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  box-shadow: 5px 5px 10px #c0c0c0;
}

#propos a {
  color: #698020;
  font-weight: bold;
  text-decoration: none;
}

/* ---Nos prestations--- */
#prestations {
  background-color: #d4dabe;
  position: relative;
  height: auto;
}

.card {
  background-color: #698020;
  border-left: 5px solid #3a4712;
  color: whitesmoke;
  box-shadow: 5px 5px 10px #c0c0c0;
  display: block;
}
.card .card-line {
  width: 50%;
  height: 2px;
  background-color: white;
}
.card .card-body {
  position: relative;
}
.card .prestations_img {
  position: absolute;
  bottom: -25%;
  right: -12%;
  background-image: url("/img/others/tax_credit.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}

.card-title {
  position: relative;
}

.card ul li {
  list-style: url("/img/others/liste_style.svg") !important;
}

.card ul li::marker {
  font-size: 2rem;
}

.bold-title {
  color: whitesmoke;
  font-family: Italiana;
  font-weight: bolder;
  font-size: 50px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .prestations_img {
    bottom: -25% !important;
    right: 80% !important;
  }
}
@media (min-width: 0px) and (max-width: 650px) {
  .prestations_img {
    display: none;
  }
}
/* ---Nos realisations--- */
#réalisations {
  background: linear-gradient(0deg, rgba(105, 128, 32, 0.05) 2.41%, rgba(153, 164, 119, 0.0802335) 49.15%, rgba(196, 196, 196, 0) 99.95%);
}
#réalisations #realisations_img {
  background-image: url("realisations_img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}

/* ---Nos avis--- */
.my-card {
  position: relative;
  margin: 0 1.5rem;
  background-color: #698020;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #c0c0c0;
}
.my-card p {
  font-size: 0.8rem;
  color: white;
}

.profile {
  position: absolute;
  height: 60px;
  width: 60px;
  top: -10%;
  left: 10%;
  background-size: cover;
  border-radius: 50%;
  border: solid 5px white;
}
.profile-1 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}
.profile-2 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}
.profile-3 {
  background-image: url("https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max");
}

/* ---Nous contacter--- */
#contact {
  border-bottom: 1px solid transparent !important;
  border-radius: 50%, 50%, 0%, 0%;
  background: linear-gradient(180deg, rgba(61, 72, 26, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
}

.form-bg {
  background-color: #d1d8bc;
  width: AUTO;
  border-radius: 5px;
}

form select {
  border-radius: 5px;
}
form input {
  border-radius: 5px;
}
form textarea {
  border-radius: 5px;
}

#map {
  box-shadow: 5px 5px 10px #c0c0c0;
}

/* ---footer--- */
footer {
  background-color: #d1d8bc;
}

.footer-logo {
  background-image: url("/img/logo/full_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

footer a {
  text-decoration: underline;
  color: #698020;
}

.fa-location-dot {
  color: #698020;
}

#envelope-footer {
  color: #698020;
}

#phone-footer {
  color: #698020;
}

/*# sourceMappingURL=style.css.map */
